{% extends 'shared/base_admin.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {% for type,messages in app.flashes %}
        {% for message in messages %}
            <div class="flash {{ type }}">{{ message }}</div>
        {% endfor %}
    {% endfor %}
    <style>
        .main-box{
            display: flex;
            /*border: 1px solid cyan;*/
            width: 80%;
            padding: 4em;
            align-self: center;
            border-radius: 12px;
        }
        .box:first-child{
            margin-right: 2em;
        }
        .box{
            /*border: 1px solid magenta;*/
            /*height: 10em;*/
            width: 50%;
            border-radius: 12px;
            display: flex;
            align-items: center;
            background-color: white;


        }
        .text{
            font-size: 1.3rem;
            font-weight: bold;

        }
        img{
            width: 60%;
            height: 70%;
            border-radius: 12px;

        }
        a{
            color: black;
        }
        .box:hover {
            box-shadow: 0 0 8px 2px #7857ff; /* Glowy blue box-shadow on hover */
        }
    </style>
    <div class="container">
        <h1>Welcome, <span style="color: #4723D9">{{ admin }}</span> !</h1>
        <div class="main-box">
            <a href="{{ path('app_event_new') }}" class="box">
                <img src="{{ asset('images/plan.avif') }}" style="">
                <div class="text">New Event</div>
            </a>

            <a href="{{ path('app_event_index') }}" class="box">
                <img src="{{ asset('images/events.avif') }}" style="height: 100%">
                <div class="text">My events</div>
            </a>
        </div>
    </div>
    <script>
        var botmanWidget = {
            frameEndpoint: '{{ path("chatframe") }}',
            chatServer: '{{ path("message") }}',
            introMessage: 'Hello, how can I help you today?',
            title: 'My Chatbot',
            mainColor: '#4723D9',
            bubbleBackground: '#4723D9',
            aboutText: ''
        };
    </script>
    <script src='https://cdn.jsdelivr.net/npm/botman-web-widget@0/build/js/widget.js'></script>

{% endblock %}
