{% if is_granted('ROLE_ADMIN') %}
    {% set template='shared/base_admin.html.twig' %}
{% else %}
    {% set template='shared/base_user.html.twig' %}
{% endif %}
{% extends template %}
{% block title %}event{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <link  rel="stylesheet" href="{{ asset('styles/event-details.css') }}"/>
{% endblock %}
{% block body %}
    {% set tickSVG=
        '<svg height="25" width="25" style="margin-left:1em" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title></title> <g id="Complete"> <g id="tick"> <polyline fill="none" points="3.7 14.3 9.6 19 20.3 5" stroke="#5a00e0" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polyline> </g> </g> </g></svg>'
    %}
    {% set interestedSVG='<svg height="25" width="25" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 47.94 47.94" xml:space="preserve" fill="#000000" style="margin-left: 1em"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path style="fill:#424242;" d="M26.285,2.486l5.407,10.956c0.376,0.762,1.103,1.29,1.944,1.412l12.091,1.757 c2.118,0.308,2.963,2.91,1.431,4.403l-8.749,8.528c-0.608,0.593-0.886,1.448-0.742,2.285l2.065,12.042 c0.362,2.109-1.852,3.717-3.746,2.722l-10.814-5.685c-0.752-0.395-1.651-0.395-2.403,0l-10.814,5.685 c-1.894,0.996-4.108-0.613-3.746-2.722l2.065-12.042c0.144-0.837-0.134-1.692-0.742-2.285l-8.749-8.528 c-1.532-1.494-0.687-4.096,1.431-4.403l12.091-1.757c0.841-0.122,1.568-0.65,1.944-1.412l5.407-10.956 C22.602,0.567,25.338,0.567,26.285,2.486z"></path> </g></svg>' %}
    {% set goingSVG='<svg  height="25" width="25 " viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-left:3em"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M6 18L8.5 15.5M18 6H9M18 6V15M18 6L11.5 12.5" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>' %}
    {%set path='uploads/'~event.picture %}


    <div class="main-container">
        <div class="row one">
            <img class="event-picture" src="{{ asset(path) }}">
            <div style="margin-left: 15%">
                <div class="text-container">
                    <p class="text date">{{ event.date|date }}</p>
                </div>
                <div class="text-container">
                    <p class="text name">{{ event.name }}</p>
                </div>
                <div style="display: flex;flex-direction: row;align-items: center">
                    <?xml version="1.0" ?>
                    <svg viewBox="0 0 32 32" width="20" height="20" style="margin-right: 0.5em;"
                         xmlns="http://www.w3.org/2000/svg"><title/>
                        <g data-name="locate location map pin" id="locate_location_map_pin">
                            <path d="M23.78,6.15A11,11,0,0,0,8.22,21.71l4.1,4.1a1,1,0,1,0,1.42-1.42l-4.1-4.1a9,9,0,1,1,12.72,0l-7.07,7.07a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l7.07-7.07A11,11,0,0,0,23.78,6.15Z"/>
                            <path d="M21,14a5,5,0,1,0-5,5A5,5,0,0,0,21,14Zm-8,0a3,3,0,1,1,3,3A3,3,0,0,1,13,14Z"/>
                        </g>
                    </svg>
                    <div class="text-container">
                        <p class="text address">{{ event.address }}</p>
                    </div>
                </div>
                <div class="text-container">
                    <p class="text creator">organised by {{ event.creator }}</p>
                </div>
            </div>
            <hr>

            <div class="buttons">
                {% if is_granted('ROLE_ADMIN') %}
                    <button class="interact-button">
                        <a href="{{ path('app_event_edit',{'id':event.id}) }}" style="color:black;">
                            <div style="display: flex;flex-direction: row;align-items: center">
                                <span>Edit</span>
                                <svg height="25" width="25" style="margin-left:1em;" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M21.2799 6.40005L11.7399 15.94C10.7899 16.89 7.96987 17.33 7.33987 16.7C6.70987 16.07 7.13987 13.25 8.08987 12.3L17.6399 2.75002C17.8754 2.49308 18.1605 2.28654 18.4781 2.14284C18.7956 1.99914 19.139 1.92124 19.4875 1.9139C19.8359 1.90657 20.1823 1.96991 20.5056 2.10012C20.8289 2.23033 21.1225 2.42473 21.3686 2.67153C21.6147 2.91833 21.8083 3.21243 21.9376 3.53609C22.0669 3.85976 22.1294 4.20626 22.1211 4.55471C22.1128 4.90316 22.0339 5.24635 21.8894 5.5635C21.7448 5.88065 21.5375 6.16524 21.2799 6.40005V6.40005Z" stroke="#000000" stroke-width="2.088" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M11 4H6C4.93913 4 3.92178 4.42142 3.17163 5.17157C2.42149 5.92172 2 6.93913 2 8V18C2 19.0609 2.42149 20.0783 3.17163 20.8284C3.92178 21.5786 4.93913 22 6 22H17C19.21 22 20 20.2 20 18V13" stroke="#000000" stroke-width="2.088" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>                            </div>
                        </a>
                    </button>
                    <button class="interact-button">
                        <a href="{{ path('app_event_delete',{'id':event.id}) }}" style="color:black;">
                            <div style="display: flex;flex-direction: row;align-items: center">
                                <span>Delete</span>
                                <svg height="25" width="25" style="margin-left:1em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M10 11V17" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M14 11V17" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M4 7H20" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M6 7H12H18V18C18 19.6569 16.6569 21 15 21H9C7.34315 21 6 19.6569 6 18V7Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M9 5C9 3.89543 9.89543 3 11 3H13C14.1046 3 15 3.89543 15 5V7H9V5Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                            </div>
                        </a>
                    </button>

                {% else %}
                    <button class="interact-button">
                        <a href="{{ path('app_user_event_toggle_interested',{'id':event.id}) }}" style="color:black;">
                            <div style="display: flex;flex-direction: row;align-items: center">
                                <span>Interested</span>
                                {% if isInterested %}
                                    {{ tickSVG|raw }}
                                {% else %}
                                    {{ interestedSVG|raw }}
                                {% endif %}

                            </div>
                        </a>
                    </button>
                    <button class="interact-button">
                        <a href="{{ path('app_user_event_toggle_going',{'id':event.id}) }}" style="color:black;">
                            <div style="display: flex;flex-direction: row;align-items: center">
                                <span>Going</span>
                                {% if isAttending %}
                                    {{ tickSVG|raw }}
                                {% else %}
                                    {{ goingSVG|raw }}
                                {% endif %}
                            </div>
                        </a>
                    </button>
                {% endif %}
            </div>
        </div>

        {% if event.comments!=""%}
            <div class="row small">
                    <p style="font-weight: bold;margin-bottom: 1.5em">Details</p>
                <div style="color: #555555;font-size: 0.9rem;display: flex;align-items: center">
                    <span style="color:#4723D9;font-weight: bold;margin-right: 1em">{{ event.interested }}</span> interested
                    {{ interestedSVG|raw }}
                </div>
                <br>
                <div style="color: #555555;font-size: 0.9rem;display: flex;align-items: center">
                    <span style="color:#4723D9;font-weight: bold;margin-right: 1em">{{ event.attending }}</span> going
                    {{goingSVG|raw}}

                </div>

                <br>

                <div style="color: #555555;font-size: 0.9rem">{{ event.comments }}</div>
            </div>
        {% endif %}

        <div class="row small">
            <p style="font-weight: bold;margin-bottom: 1.5em">Tickets</p>
            {% if event.ticketLink %}
                <div style="color: #555555">
                    You can purchase tickets from the link down below.
                </div>
                <button class="interact-button" style="align-self: center;margin-top: 2em;width:100%;justify-content: center">
                        <a href="{{ event.ticketLink }}" style="color:black;">Find Tickets</a>
                        <svg  height="25" width="25" style="margin-left: 1em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" transform="rotate(180)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M16.6487 3.85938H9.90865V6.87938C9.90865 7.26938 9.58865 7.57938 9.20865 7.57938C8.82865 7.57938 8.50865 7.26938 8.50865 6.87938V3.85938H7.34865C3.39865 3.85938 2.09865 5.03937 2.00865 8.72937C1.99865 8.90937 2.07865 9.09937 2.20865 9.22937C2.33865 9.36937 2.50865 9.43937 2.70865 9.43937C4.10865 9.43937 5.25865 10.5994 5.25865 11.9994C5.25865 13.3994 4.10865 14.5594 2.70865 14.5594C2.51865 14.5594 2.33865 14.6294 2.20865 14.7694C2.07865 14.8994 1.99865 15.0894 2.00865 15.2694C2.09865 18.9594 3.39865 20.1394 7.34865 20.1394H8.50865V17.1194C8.50865 16.7294 8.82865 16.4194 9.20865 16.4194C9.58865 16.4194 9.90865 16.7294 9.90865 17.1194V20.1394H16.6487C20.7487 20.1394 21.9987 18.8894 21.9987 14.7894V9.20938C21.9987 5.10938 20.7487 3.85938 16.6487 3.85938ZM18.4687 11.8994L17.5387 12.7994C17.4987 12.8294 17.4887 12.8894 17.4987 12.9394L17.7187 14.2094C17.7587 14.4394 17.6687 14.6794 17.4687 14.8194C17.2787 14.9594 17.0287 14.9794 16.8187 14.8694L15.6687 14.2694C15.6287 14.2494 15.5687 14.2494 15.5287 14.2694L14.3787 14.8694C14.2887 14.9194 14.1887 14.9394 14.0887 14.9394C13.9587 14.9394 13.8387 14.8994 13.7287 14.8194C13.5387 14.6794 13.4387 14.4494 13.4787 14.2094L13.6987 12.9394C13.7087 12.8894 13.6887 12.8394 13.6587 12.7994L12.7287 11.8994C12.5587 11.7394 12.4987 11.4894 12.5687 11.2694C12.6387 11.0394 12.8287 10.8794 13.0687 10.8494L14.3487 10.6594C14.3987 10.6494 14.4387 10.6194 14.4687 10.5794L15.0387 9.41938C15.1487 9.20938 15.3587 9.07938 15.5987 9.07938C15.8387 9.07938 16.0487 9.20938 16.1487 9.41938L16.7187 10.5794C16.7387 10.6294 16.7787 10.6594 16.8287 10.6594L18.1087 10.8494C18.3487 10.8794 18.5387 11.0494 18.6087 11.2694C18.6987 11.4894 18.6387 11.7294 18.4687 11.8994Z" fill="#424242FF"></path> </g></svg>
                </button>
            {% else %}
                <div style="color:#555555;">
                    Tickets are only available on site.
                </div>
            {% endif %}

        </div>
        <div class="row small">
            <p style="font-weight: bold;margin-bottom: 1.5em">Location</p>
            <iframe class="custom-shadow" id="map-canvas" width="100%" height="555" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    src="https://maps.google.com/maps?q={{ event.location[0] }},{{event.location[1] }}&z=14&output=embed"></iframe>
        </div>
    </div>

{% endblock %}