<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <link rel="stylesheet" href="{{ asset('/styles/form_styles.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/shared.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/sidebar-navbar.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/event_list_styles.css') }}">


    {% block stylesheets %}
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('js/navbar-sidebar.js') }}"></script>
    {% endblock %}
</head>
<body id="body-pd">
<header class="header" id="header">
    <div class="header_toggle" id="header-toggle">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0,0,256,256">
            <g fill="#4723d9" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
               stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
               font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                <g transform="scale(8,8)">
                    <path d="M3.5,10h25c0.828,0 1.5,-0.672 1.5,-1.5c0,-0.828 -0.672,-1.5 -1.5,-1.5h-25c-0.828,0 -1.5,0.672 -1.5,1.5c0,0.828 0.672,1.5 1.5,1.5zM28.5,15h-25c-0.828,0 -1.5,0.672 -1.5,1.5c0,0.828 0.672,1.5 1.5,1.5h25c0.828,0 1.5,-0.672 1.5,-1.5c0,-0.828 -0.672,-1.5 -1.5,-1.5zM28.5,23h-25c-0.828,0 -1.5,0.672 -1.5,1.5c0,0.828 0.672,1.5 1.5,1.5h25c0.828,0 1.5,-0.672 1.5,-1.5c0,-0.828 -0.672,-1.5 -1.5,-1.5z"></path>
                </g>
            </g>
        </svg>
    </div>
</header>
<div class="l-navbar" id="nav-bar">
    <nav class="nav">
        <div>
            <a href="{{ path('app_home') }}" class="nav_link">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0,0,256,256">
                    <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(2,2)"><path d="M56.59961,21.59961c-22.5,0 -40.79883,18.50117 -40.79883,41.20117c0,22.8 18.29883,41.19922 40.79883,41.19922c10.3,0 19.70039,-3.90078 26.90039,-10.30078l2.30078,2.30078l-2.10156,2.19922c-1.2,1.2 -1.2,3.10078 0,4.30078l18,18.19922c0.6,0.6 1.30156,0.90039 2.10156,0.90039c0.8,0 1.59961,-0.30039 2.09961,-0.90039l8,-8.09961c1.1,-1.2 1.10039,-3.09922 -0.09961,-4.19922l-18,-18.20117c-0.6,-0.6 -1.30156,-0.89844 -2.10156,-0.89844c-0.8,0 -1.59961,0.29844 -2.09961,0.89844l-2.09961,2.20117l-2.30078,-2.40039c6.3,-7.3 10.20117,-16.79922 10.20117,-27.19922c0,-22.7 -18.30078,-41.20117 -40.80078,-41.20117zM56.59961,27.69922c19.2,0 34.80078,15.80117 34.80078,35.20117c0,19.4 -15.60078,35.09961 -34.80078,35.09961c-19.2,0 -34.79883,-15.69961 -34.79883,-35.09961c0,-19.4 15.59883,-35.20117 34.79883,-35.20117zM56.69922,40.19922c-9.5,0 -17.99922,6.10156 -21.19922,15.10156c-0.5,1.3 0.19961,2.89883 1.59961,3.29883c0.3,0.1 0.60039,0.20117 0.90039,0.20117c1.1,0 2.1,-0.70078 2.5,-1.80078c2.4,-6.9 8.99922,-11.59961 16.19922,-11.59961c1.4,0 2.60156,-1.19961 2.60156,-2.59961c0,-1.4 -1.20156,-2.60156 -2.60156,-2.60156zM37.69922,64.90039c-1.4,0 -2.59961,1.09961 -2.59961,2.59961v0.40039c0.1,1.4 1.20117,2.59961 2.70117,2.59961c1.4,0 2.59961,-1.19961 2.59961,-2.59961v-0.30078c0,-1.5 -1.09961,-2.69922 -2.59961,-2.69922zM93.80078,96.59961l13.79883,14l-3.79883,3.80078l-13.80078,-14z"></path></g></g>
                </svg>
                <span class="nav_name">Explore</span>
            </a>
            <div class="nav_list">
                <a href="{{ path('app_event_index') }}" class="nav_link">
                    <?xml version="1.0" ?><svg height="32" id="icon" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:none;}</style></defs><title/><path d="M28,6a2,2,0,0,0-2-2H22V2H20V4H12V2H10V4H6A2,2,0,0,0,4,6V26a2,2,0,0,0,2,2h4V26H6V6h4V8h2V6h8V8h2V6h4v6h2Z" fill="#ffffff"/><polygon points="21 15 23.549 19.938 29 20.729 25 24.573 26 30 21 27.438 16 30 17 24.573 13 20.729 18.6 19.938 21 15" fill="#ffffff"/><rect class="cls-1" data-name="&lt;Transparent Rectangle&gt;" height="32" id="_Transparent_Rectangle_" width="32"/></svg>
                    <span class="nav_name">My Events</span>
                </a>
            </div>
        </div>
        <a href="{{ path('app_logout') }}" class="nav_link" style="margin-bottom: 3em">
            <?xml version="1.0" ?><svg  height="30" width="30" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M4,12a1,1,0,0,0,1,1h7.59l-2.3,2.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l4-4a1,1,0,0,0,.21-.33,1,1,0,0,0,0-.76,1,1,0,0,0-.21-.33l-4-4a1,1,0,1,0-1.42,1.42L12.59,11H5A1,1,0,0,0,4,12ZM17,2H7A3,3,0,0,0,4,5V8A1,1,0,0,0,6,8V5A1,1,0,0,1,7,4H17a1,1,0,0,1,1,1V19a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V16a1,1,0,0,0-2,0v3a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V5A3,3,0,0,0,17,2Z" fill="#ffffff"/></svg>
            <span class="nav_name">SignOut</span>
        </a>
    </nav>
</div>
<!--Container Main start-->
<div class="height-100 bg-light" id="body-pd">
        {% block body %}
        {% endblock %}
</div>
</body>
</html>
